.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.image_logo{
    width: 60px;
    height: 30px;
    object-fit: cover;
    padding-top: 8px;
    padding-left: 32px;
    
}
.header_left{
    display: flex;
    align-items: center;
}
.header_middle{
    display: flex;
    align-items: center;
}
.header_middle > input{
    width: 600px;
    height: 30px;
    border-radius: 34px;
}
