.video_size{
    height: 200px;
    width: 360px;
    border-radius: 36px;
    border: 4px solid rgb(224, 211, 211);
     border-radius: 17px;
}
.card{
    padding-left: 34px;
    padding-top: 15px;
    transition:transform 950ms;
    

}
.card:hover{
   transform: scale(1.20);
   border-radius: 56px;
   box-shadow: 5px 5px #0f1114;
  
   
}
.description{
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.all_desc{
    padding-top: 5px;
}
.info{
    padding-left: 110px;
}